* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: all 0.3s ease;
}

nav.open {
    flex-direction: column;
    background: #333;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 1000;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    nav a {
        display: none;
    }

    nav.open a {
        display: block;
    }

    nav {
        padding: 10px 0;
    }
}

main {
    padding: 20px;
    margin-top: 80px; /* Adjusted for fixed header */
}

.intro, .about, .projects {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #fff;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
    display: inline-block;
}

.social-icons img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.highlight {
    background-color: #F8F8FF;
    border-radius: 5px;
    padding: 1px;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-weight: bold;
}

h1 {
    margin-bottom: 20px;
}

.project-list {
    display: flex;
    flex-direction: column;
}

.project-item {
    background: #fff;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
