* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    width: 100%;

}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

main {
    padding: 20px;

}

.top {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #fff;
    margin-top: 60px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.intro, .about, .projects {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #fff;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none; /* Remove underline from links */
    display: inline-block; /* Ensure the images are inline-block elements */
}

.social-icons img {
    width: 40px;
    height: 40px;
    vertical-align: middle; /* Align the images correctly */
}

.highlight {
    background-color: #F8F8FF; /* Soft yellow background */
    border-radius: 5px; /* Slightly rounded corners */
    padding: 1px; /* Some padding for spacing */
    box-shadow: 0 0 1px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    font-weight: bold; /* Make text bold for emphasis */
}

h1 {
    margin-bottom: 20px;
}

.project-list {
    display: flex;
    flex-direction: column;
}

.project-item {
    background: #fff;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
